* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #e6f1f5;
}

/* Home.js styling */

.App {
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav"
    ". . title . ."
    ". . card . ."
    "mainContent mainContent mainContent mainContent mainContent";
  margin: 0 auto;
  padding-bottom: 40px;
  row-gap: 50px;
}

.NavigationWrapper {
  grid-area: nav;
}

.Navigation {
  background-color: black;
  padding: 10px 0;
}

.Navigation a {
  text-decoration: none;
  margin: 0 10px;
  padding: 0 2px;
}

.Navigation a:first-child {
  border-right: 1px solid white;
  color: #0282de;
  font-weight: bold;
  padding-right: 20px;
}

.Navigation a:not(:first-child) {
  color: white;
}

.Navigation a:not(:first-child):hover {
  color: gray;
}

.Navigation a.Active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.Navigation a.Active:hover {
  color: white;
}

.City {
  align-items: center;
  display: flex;
  grid-area: title;
  justify-content: center;
  text-transform: capitalize;
}

.MainContentWrapper {
  align-items: center;
  display: flex;
  grid-area: mainContent;
  justify-content: center;
}

/* WeatherCard.js styling */

.WeatherCard {
  border: 2px solid black;
  border-radius: 30px;
  display: grid;
  grid-area: card;
  grid-template-areas:
    "weatherTemp"
    "weatherType"
    "weatherAtmos";
  padding: 10px 30px;
}

.WeatherTypeWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: weatherType;
  height: 200px;
  justify-content: center;
  margin: 0;
  padding: 10px 20px 40px 10px;
}

.WeatherTempWrapper {
  display: grid;
  grid-area: weatherTemp;
  grid-template-areas:
    ". currentTemp highTemp ."
    ". currentTemp lowTemp .";
}

.CurrentTemp {
  display: flex;
  justify-content: flex-end;
  grid-area: currentTemp;
  font-size: 5em;
  padding: 30px 10px 30px 0px;
}

.HighTemp {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  grid-area: highTemp;
  line-height: 1.75;
}

.LowTemp {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  grid-area: lowTemp;
}

.WeatherAtmosWrapper {
  display: flex;
  flex-direction: column;
  grid-area: weatherAtmos;
  justify-content: center;
  line-height: 2.5;
  margin-left: 15%;
  padding: 10px 20px;
}

/* WeatherImage.js styling */

.WeatherImageWrapper {
  align-items: center;
  display: flex;
  font-size: 160px;
  justify-content: center;
}

@media (min-width: 800px) {
  .City {
    font-size: 3em;
  }

  .WeatherAtmosWrapper {
    margin: 0;
  }

  .WeatherCard {
    grid-template-areas:
      "weatherTemp weatherTemp"
      "weatherType weatherAtmos";
  }
}
